.carousel-img-text {
  position: absolute;
  width: auto;
  font-family: var(--tipografiaGeneral);
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel-item{
  display: grid;
 align-items: center;
 justify-items: center;
}

.carousel-control-next {
  left: 94% !important;
  width: 5% !important;
}

.carousel-control-prev {
  right: 90% !important;
  width: 5% !important;
}

.carousel-control-prev-left {
  font-weight: 900;
}

.carousel-control-next-right {
  font-weight: 900;
}

@media only screen and (min-width: 375px) {
  .carousel-img-text {
    font-size: 25px;
    /* left: 15%; */
  }

  .carousel-image {
    height: 150px;
  }
}

@media only screen and (min-width: 425px) {

  .carousel-img-text {
    font-size: 28px;
    /* left: 15%; */
  }

  .carousel-image {
    height: 170px;
  }
}

@media only screen and (min-width: 768px) {
  .carousel-img-text {
    font-size: 35px;
    /* left: 26%; */
  }

  .carousel-image {
    height: 200px;
  }

  .fa-angle-right {
    font-size: 1.2rem !important;
  }

  .fa-angle-left {
    font-size: 1.2rem !important;
  }
}

@media only screen and (min-width: 1024px) {
  .carousel-img-text {
    font-size: 50px;
  }

  .carousel-image {
    height: 650px;
  }

  .fa-angle-right {
    font-size: 2rem !important;
  }

  .fa-angle-left {
    font-size: 2rem !important;
  }
}

@media only screen and (min-width: 1335px) {
  .carousel-img-text {
   font-size: 60px;
  }

  .carousel-image {
    height: 650px;
  }
}

@media only screen and (min-width: 1440px) {
  .carousel-img-text {
   font-size: 65px;
  }
}
