 .carousel-img-text {
  position: relative;
  font-family: var(--tipografiaGeneral);
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 28px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: 77px;
}

.carousel-image {
  height: 160px;
}




@media only screen and (min-width: 375px) {
  .carousel-img-text {
    font-size: 19px;
    bottom: 113px;
  }

  .carousel-image {
    height: 200px;
  }
}

@media only screen and (min-width: 425px) {



  .carousel-img-text {
    font-size: 21px;
    bottom: 130px;
  }

  .carousel-image {
    height: 250px;
  }
}

@media only screen and (min-width: 768px) {


  .carousel-img-text {
    font-size: 25px;
    bottom: 175px;
  }

  .carousel-image {
    height: 350px;
  }

}

@media only screen and (min-width: 1024px) {

  .carousel-img-text {
    font-size: 36px;
    bottom: 320px;
  }

  .carousel-image {
    height: 650px;
  }

}

 @media only screen and (min-width: 1335px) {

  .carousel-img-text {
    font-size: 40px;
    bottom: 320px;
  }

  .carousel-image {
    height: 650px;
  }
}

@media only screen and (min-width: 1440px) {

   .carousel-img-text {
    font-size: 45px;
    bottom: 320px;
  }
}
