<footer>
  <div class="footer-container">
    <div class="footer-container--container">
      <form class="footer-container-form container">
        <div class="footer-container-img-forms">
          <img class="footer-container-img-forms--img" src="../../../assets/footer/img-forms.png"/>
        </div>
        <div>
          <div class="footer-form-container-div-title">
            <h2 class="footer-form-container-div-title--title text-center">
              ¡Contacta con nosotros!
            </h2>
          </div>
          <div class="footer-form-container-div-paragraph">
            <p class="footer-form-container-div-paragraph--paragraph text-center">
              Comunícate con nosotros para brindarte una atención personalizada
              y contarte más sobre nuestros servicios.
            </p>
          </div>
          <div class="form-group footer-form-container-div-name my-2">
            <input type="text" class="form-control form-group footer-form-container-div-input" id="footer-form-container-id-name" placeholder="Name">
          </div>
          <div class="form-group footer-form-container-div-email my-2">
            <input type="email" class="form-control form-group footer-form-container-div-input" id="footer-form-container-id-email" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="form-group footer-form-container-div-telephone my-2">
            <input type="number" class="form-control form-group footer-form-container-div-input" id="footer-form-container-id-telephone" placeholder="Telefono">
          </div>
          <div class="form-group footer-form-container-div-textarea my-2">
            <textarea type="text" class="form-control form-group footer-form-container-div-input" id="footer-form-container-id-textarea" placeholder="Mensaje"></textarea>
          </div>
          <div class="footer-form-container-div-button mx-auto">
            <button class="btn footer-form-container-div-button--button" type="submit">Enviar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="footer-container--container-two mt-3">
      <div class="footer-container--container-two-icon">
        <img class="footer-container--container-two-img" src="../../../assets/footer/footer-icon-lligy.png"/>
      </div>
      <div class="footer-container--container-two-date">
        <h6 class="footer-container--container-two-date-ubication text-center">
          Ubicación
        </h6>
        <p class="footer-container--container-two-date-direction text-center">
          Av. Francisco Pizarro 683 - Lima
        </p>
        <p class="footer-container--container-two-date-direction text-center">
          +51 999 411 512
        </p>
        <p class="footer-container--container-two-date-direction text-center">
          lligy@correo.com
        </p>
      </div>
      <div class="footer-container--container-siguenos">
        <p class="footer-container--container-siguenos-paragraph text-center">
          Síguenos en <i class="footer-container--container-siguenos-icon fa-brands fa-square-facebook"></i>
        </p>

      </div>
    </div>

  </div>
  <div class="footer-container--container-three my-3">
    <h5 class="footer-container--container-three-title text-center">
      Copyrigth © 2023 Lligy costura y confección | ALL RIGTHS RESERVERS
    </h5>
  </div>
</footer>
