
.footer-container{
  height: auto;
width: 100%;
  background: #DB6300;
border-top: 3px dashed #FFFFFF;
border-bottom: 3px dashed #FFFFFF;
}

.footer-container-form{
  background-color: #FFFFFF;
  width: 85%;
  position: relative;
  bottom: 3px;
}

.footer-container-img-forms{
  display: none;
}

.footer-form-container-div-title--title{
  font-family: var(--tipografiaGeneral);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding-top: 1em;
  line-height: 23px;
  color: #000000;
}

.footer-form-container-div-input{
border-radius: 0% !important;
}

.footer-form-container-div-input::placeholder{
  font-family: var(--tipografiaGeneral);
  font-size: 15px;
}

.footer-form-container-div-paragraph--paragraph{
  font-family: var(--tipografiaGeneral);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.footer-form-container-div-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.footer-form-container-div-button--button{
  background: var(--colorOrangeDark);
  font-family: var(--tipografiaGeneral);
  border-radius: 5px;
  color: #e9e7e7;
}

.footer-form-container-div-button--button:hover{
  color: #FFFFFF;
}


.footer-container--container-two-icon{
  display: none;
}

.footer-container--container-two-date-ubication{
  font-family: var(--tipografiaGeneral);
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
}

.footer-container--container-two-date-direction{
  font-family: var(--tipografiaGeneral);
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
}

.footer-container--container-siguenos{
  width: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-direction: column
}

.footer-container--container-siguenos-paragraph{
  font-family: var(--tipografiaGeneral);
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
}

.footer-container--container-siguenos-icon{
color: #FFFFFF;

}

.footer-container--container-three-title{
  font-family: var(--tipografiaGeneral);
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
color: var(--colorOrangeDark);
}




@media only screen and (min-width: 768px) {

  .footer-container{
    height: auto;
  }

.footer-container--container-two{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

  .footer-container--container-two-icon{
    display: flex;
    height: 100px;
    width: 200px;
    margin-left: 1em;
  }


  .footer-container--container-two-date-ubication{
  font-size: 16px;
  }

  .footer-container--container-two-date-direction{
  font-size: 16px;
  }

  .footer-container--container-siguenos-paragraph{
  font-size: 16px;
  }

  .footer-container--container-siguenos-icon{
    font-size: 16px;
    }

    .footer-container--container-siguenos{
      margin-left: 0;
      margin-right: 0;

    }

}

@media only screen and (min-width: 1024px) {

  .footer-container{
    height: 627px;
  }

.footer-container--container-two{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

  .footer-container--container-two-icon{
    display: flex;
    height: 100px;
width: 200px;
  }


  .footer-container--container-two-date-ubication{
  font-size: 17px;
  }

  .footer-container--container-two-date-direction{
  font-size: 17px;
  }

  .footer-container--container-siguenos-paragraph{
  font-size: 17px;
  }

  .footer-container--container-siguenos-icon{
    font-size: 17px;
    }

.footer-container-form{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

    .footer-container-img-forms{
      display: flex;
      height: 400px;
width: 400px;
    }

    .footer-container--container-three-title{
    font-size: 17px;
    }


}


@media only screen and (min-width: 1024px) {


  .footer-container--container-two-date-ubication{
  font-size: 18px;
  }

  .footer-container--container-two-date-direction{
  font-size: 18px;
  }

  .footer-container--container-siguenos-paragraph{
  font-size: 18px;
  }

  .footer-container--container-siguenos-icon{
    font-size: 18px;
    }



    .footer-container--container-three-title{
    font-size: 18px;
    }


}

