<nav class="navbar navbar-expand-lg bg-body-tertiary mx-3">
  <div class="container-fluid align-items-end mt-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bars"><i class="fa-solid fa-bars"></i></span>
    </button>
    <img class="nabvar_logo_image"src="../../../assets/LligyGroup.png" alt="lligy-logo"/>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>        
      </ul>
    </div>
    <div>
      <button class="navbar_btn_wahtsapp btn btn-ligth"><i class="fa-brands fa-whatsapp"></i><span class="navbar_btn_wahtsapp_span--hidden">+51 999 411 512</span></button>
     </div>
  </div>
</nav>
