<div class="ourService container d-flex flex-column mt-5">
  <div class="ourService-container d-flex align-items-center">
    <div class="ourService-container--title--div">
    <div class="ourService-container-title">
      <h2 class="ourService-title">Nuestros Servicios</h2>
    </div>
    <div class="ourService-line-dashed"></div>
  </div>
</div>
<div class="ourService-container--img-containers mt-4">
  <div class="ourService-container--img-two-container">
    <div class="ourService-container--img-services">
      <div class="ourService-container my-3">
        <img  class="ourService-container-img" src="../../../assets/our-services/bordado-computarizado.png"/>
        </div>
        <div class="ourService-container-container">
          <p class="ourService-container-container-paragraph">BORDADO COMPUTARIZADO</p>
          <div class="ourService-container-container-line"></div>
        </div>
        </div>
      <div class="ourService-container--img-services">

        <div class="ourService-container my-3">
          <img  class="ourService-container-img" src="../../../assets/our-services/uniformes-escolares.png"/>
          </div>
          <div class="ourService-container-container">
            <p class="ourService-container-container-paragraph">UNIFORMES ESCOLARES</p>
            <div class="ourService-container-container-line"></div>
          </div>
          </div>
  </div>
<div class="ourService-container--img-two-container">
  <div class="ourService-container--img-services">
    <div class="ourService-container my-3">
      <img  class="ourService-container-img" src="../../../assets/our-services/uniformes-empresariales.png"/>
      </div>
      <div class="ourService-container-container">
        <p class="ourService-container-container-paragraph">UNIFORMES EMPRESARIALES</p>
        <div class="ourService-container-container-line"></div>
      </div>
        </div>
        <div class="ourService-container--img-services">
        <div class="ourService-container my-3">
          <img  class="ourService-container-img" src="../../../assets/our-services/uniformes-publicitarios.png"/>
          </div>
          <div class="ourService-container-container">
            <p class="ourService-container-container-paragraph">UNIFORMES PUBLICITARIOS</p>
            <div class="ourService-container-container-line"></div>
          </div>
</div>
</div>
</div>


