<div class="about_sub_container">
  <img class="about_container_img-mobile" src="../../../../assets/lligy-orange-mobile.png" alt="">
  <img class="about_container_img-desktop" src="../../../../assets/Lligy-black-desktop.png" alt="">
  <p class="about_container_subTitle text-center ">COSTURA Y CONFECCIÓN</p>
  <div class="about_container_texto-contenedor">
    <p class="about_container_texto text-center">
      LLIGY Significa:  Lucio - Luis - Irma - Gisela - Y Jhonny
        Somos una empresa familiar dedicada al rubro
        de costura y confección por más de 15 años.<br/>
        Confeccionamos uniformes laborales para todo tipo de
        rubro y actividad.<br/>
        Trabajamos con el cliente para poder transmitir la
        imagen, los valores
        y principios que necesitan verse
        plasmados en las prendas.<br/>
        Con una atención personalizada deseamos que tengan
        la mejor de las experiencias,
        gracias por confiar en
        nosotros.
      </p>
  </div>
</div>
