<div class="about_sub_container">
  <h2 class="about_container_title text-center">Lligy</h2>
  <p class="about_container_subTitle text-center ">COSTURA Y CONFECCIÓN</p>
  <p class="about_container_texto text-center px-3">
  LLIGY Significa:  Lucio - Luis - Irma - Gisela - Y Jhonny
    Somos una empresa familiar dedicada al rubro de costura y confección por más de 15 años.
    Confeccionamos uniformes laborales para todo tipo de rubro y actividad.
    Trabajamos con el cliente para poder transmitir la imagen, los valores 
    y principios que necesitan verse plasmados en las prendas. 
    Con una atención personalizada deseamos que tengan la mejor de las experiencias, 
    gracias por confiar en nosotros.
  </p>
</div>
