<div class="ourClients my-5">
  <div class="ourClients-container d-flex align-items-center">
    <div class="ourClients-container--title--div">
    <div class="ourClients-container-title">
      <h2 class="ourClients-title">Nuestros Clientes</h2>
    </div>
    <div class="ourClients-line-dashed"></div>
  </div>
  </div>
  <div class="ourClients-container-logos mt-5">
    <div class="ourClients-container-logos-subContainer">
      <div class="ourClients-container-logos--div d-flex justify-content-center align-items-center">
        <p class="ourClients-container-logos--div-paragraph">Logocliente</p>
      </div>
      <div class="ourClients-container-logos--div d-flex justify-content-center align-items-center">
        <p class="ourClients-container-logos--div-paragraph">Logocliente</p>
      </div>
    </div>
<div class="ourClients-container-logos-subContainer">
  <div class="ourClients-container-logos--div d-flex justify-content-center align-items-center">
    <p class="ourClients-container-logos--div-paragraph">Logocliente</p>
  </div>
  <div class="ourClients-container-logos--div d-flex justify-content-center align-items-center">
    <p class="ourClients-container-logos--div-paragraph">Logocliente</p>
  </div>
</div>
  </div>
  <div class="ourClients-container-opinan my-3">
    <h2 class="ourClients-container-opinan-title text-center">
      ¿Qué opinan nuestros clientes?
    </h2>
    <div class="ourClients-container-opinan-line-dashed mx-auto"></div>

  <div class="ourClients-container-opinan-title--boxes my-3">
    <div class="ourClients-container-opinan-title--boxes-box">
      <div class="ourClients-container-opinan-title--boxes-box-img">
      <img class="ourClients-container-opinan-boxes-box-img--img" src="../../../assets/our-clients/cllient1.png"/>
      </div>
      <div class="ourClients-container-opinan-title--boxes-box-paragraph-box">
        <p class="ourClients-container-opinan-title--boxes-box-paragraph">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id viverra mattis quis pretium sed leo lorem”</p>
        <p class="ourClients-container-opinan-title--boxes-box-paragraph-client">- Cliente</p>
      </div>
    </div>
    <div class="ourClients-container-opinan-title--boxes-box">
      <div class="ourClients-container-opinan-title--boxes-box-img">
        <img class="ourClients-container-opinan-boxes-box-img--img" src="../../../assets/our-clients/cllient2.png"/>
      </div>
      <div class="ourClients-container-opinan-title--boxes-box-paragraph-box">
        <p class="ourClients-container-opinan-title--boxes-box-paragraph">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id viverra mattis quis pretium sed leo lorem”</p>
        <p class="ourClients-container-opinan-title--boxes-box-paragraph-client"> - Cliente</p>
      </div>
    </div>
    <div class="ourClients-container-opinan-title--boxes-box">
      <div class="ourClients-container-opinan-title--boxes-box-img">
        <img class="ourClients-container-opinan-boxes-box-img--img" src="../../../assets/our-clients/cllient3.png"/>
      </div>
      <div class="ourClients-container-opinan-title--boxes-box-paragraph-box">
        <p class="ourClients-container-opinan-title--boxes-box-paragraph">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id viverra mattis quis pretium sed leo lorem”</p>
        <p class="ourClients-container-opinan-title--boxes-box-paragraph-client"> - Cliente</p>
      </div>
    </div>
  </div>
</div>
</div>

