.navbar {
  height: auto;
}

.navbar-container {
  margin-block-start: 0;
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
}

.nabvar_logo_image {
  height: 50px;
  width: 100px;
}


.navbar_btn_wahtsapp {
  border: none;
  width: auto;
  color: var(--colorOrangeDark);
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:hover {
  border: none !important;
}

.navbar-toggler-bars {
  color: var(--colorOrangeDark);
  height: 11.428571701049805px;
  width: 15px;
  border-radius: 0px;
}
.navbar_container_button_wahtsapp2{
display:none;
}
.navbar_btn_wahtsapp_span--hidden {
  display: none;
  white-space: nowrap;
}

.nabvar_container_ul-li{
font-family: var(--tipografiaGeneral);
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
color: #5F5F5F;
}

@media only screen and (min-width: 1024px) {

  .navbar-container{
    padding: 0 65px;
  }
  .navbar_btn_wahtsapp_span--hidden {
    display: block;
  }

  .navbar_container_button_wahtsapp1{
    display:none;
    }

  .navbar-nav {
    gap: 1em;
  }

  .navbar_container_button_wahtsapp2 {
    width: 14%;
  }


  .navbar_btn_wahtsapp {
    border: solid 1px var(--colorOrangeDark);

    width: 170px;
    color: var(--colorBlackDark);
  }

  .navbar_container_image {
    width: 25%;
  }
  .nabvar_container_ul {
    width: 30%;
  }

  .navbar_container_button_wahtsapp2 {
    display: flex;
    width: 18%;
  }
}

@media only screen and (min-width: 1336px) {
  .navbar_container_button_wahtsapp2 {
    width: 15%;
  }

  .navbar_btn_wahtsapp {
    width: 170px;
  }

  .navbar-nav {
    gap: 3em;
  }

  .nav-item a {
    font-size: 17px;
    }

}

@media only screen and (min-width: 1440px) {
  .navbar_container_button_wahtsapp2 {
    width: 16%;
  }

  .navbar_btn_wahtsapp {
    width: 180px;
  }



  .nav-item a {
    font-size: 18px;
    }

}

