<nav class="navbar navbar-expand-lg bg-body-tertiary mx-3">
  <div class="navbar-container container-fluid align-items-center">
    <div>
      <button class="navbar-toggler btn no-focus"  (click)="toggleMenu()" data-toggle="button" aria-pressed="false" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-bars"><i class="fas" [ngClass]="{'fa-bars': !showMenu, 'fa-times': showMenu}"></i></span>
      </button>
    </div>
    <div class="navbar_container_image">
      <img class="nabvar_logo_image"src="../../../assets/LligyGroup.png" alt="lligy-logo"/>
    </div>
    <div class="navbar_container_button_wahtsapp1">
      <button class="navbar_btn_wahtsapp btn btn-ligth d-flex flex-row align-items-center gap-2"><i class="fa-brands fa-whatsapp"></i><span class="navbar_btn_wahtsapp_span--hidden">+51 999 411 512</span></button>
     </div>
    <div class="nabvar_container_ul collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nabvar_container_ul-li nav-item">
          <a class="nav-link active" href="#">Inicio</a>
        </li>
        <li class="nabvar_container_ul-li nav-item ">
          <a class="nav-link active" href="#">Nosotros</a>
        </li>
        <li class="nabvar_container_ul-li nav-item">
          <a class="nav-link active" href="#">Servicios</a>
        </li>
        <li class="nabvar_container_ul-li nav-item ">
          <a class="nav-link active" href="#">Clientes</a>
        </li>
        <li class="nabvar_container_ul-li nav-item ">
          <a class="nav-link active" href="#">Contacto</a>
        </li>
      </ul>
    </div>
    <div class="navbar_container_button_wahtsapp2">
      <button class="navbar_btn_wahtsapp btn btn-ligth d-flex flex-row align-items-center gap-2"><i class="fa-brands fa-whatsapp"></i><span class="navbar_btn_wahtsapp_span--hidden">+51 999 411 512</span></button>
     </div>
  </div>
</nav>
