<div class="service_lligy_container_card ">
  <div class="service_lligy_card my-3 py-1">
    <div class="service_lligy_container_service">
        <div class="service_lligy_service d-flex flex-column align-items-center my-1">
          <span class="service_lligy_icon text-center"><i class="fa-solid fa-location-dot"></i></span>
          <p class="service_lligy_title text-center"> TALLER PROPIO DE CONFECCIÓN</p>
          <p class="service_lligy_description text-center">
            Fabricamos en nuestros talleres y contamos con las mejores 
            herramientas del mercado para tener los mejores acabados.
          </p>
        </div>
    </div>
</div>
<div class="service_lligy_card my-3 py-1">
  <div class="service_lligy_container_service">
      <div class="service_lligy_service d-flex flex-column align-items-center my-1">
        <span class="service_lligy_icon text-center">S/</span>
        <p class="service_lligy_title text-center"> NOS AJUSTAMOS A SU PRESUPUESTO</p>
        <p class="service_lligy_description text-center">
          Le proponemos diferentes soluciones de manera que se ajusten a su
          presupuesto, bridando siempre calidad.
        </p>
      </div>
  </div>
</div>
<div class="service_lligy_card my-3 py-1">
  <div class="service_lligy_container_service">
      <div class="service_lligy_service d-flex flex-column align-items-center my-1">
        <span class="service_lligy_icon text-center"><i class="fa-solid fa-star"></i></span>
        <p class="service_lligy_title text-center"> EXPERIENCIA Y GARANTÍA DE CALIDAD
        </p>
        <p class="service_lligy_description text-center">
          Contamos con personal calificado con más de 15 años de experiencia.
        </p>
      </div>
  </div>
</div>
</div>
