
<div class="size-guide container my-4 ">
  <div class="size-guide-container-title">
    <img class="size-guide-title-icon" src="../../../assets/size-guide/ruler-icon.png"/>
    <h2 class="size-guide-container-title--title text-center">Guia de tallas</h2>
    <p  class="size-guide-container-title--paragraph text-center">
      Medidas en centímetros. <br/>
      Las medidas indicadas en las tablas son medidas tomadas justo al cuerpo.
    </p>
  </div>
  <div class="size-guide-container-talles">
    <div>
      <app-table-men></app-table-men>
    </div>
    <div>
      <app-table-women></app-table-women>
    </div>
  </div>



</div>
