<div class="container size-guide-container-table-woman px-3">
  <div class="size-guide-container-table-woman">
    <table class="size-guide-container-table--table-woman table  table-bordered bg-white">
      <thead>
        <tr>
          <th class="size-guide-container-table--table-women--th" scope="col">Talle</th>
          <th class="size-guide-container-table--table-women--th" scope="col">Pecho</th>
          <th class="size-guide-container-table--table-women--th" scope="col">Cadera</th>
          <th class="size-guide-container-table--table-women--th" scope="col">Cintura</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="size-guide-container-table--table-women--th" scope="row">S</th>
          <td class="size-guide-container-table--table-women--td" >94</td>
          <td class="size-guide-container-table--table-women--td" >94</td>
          <td class="size-guide-container-table--table-women--td" >76</td>
        </tr>
        <tr>
          <th class="size-guide-container-table--table-women--th" scope="row">M</th>
          <td class="size-guide-container-table--table-women--td" >102</td>
          <td class="size-guide-container-table--table-women--td" >102</td>
          <td class="size-guide-container-table--table-women--td" >84</td>
        </tr>
        <tr>
          <th class="size-guide-container-table--table-women--th" scope="row">L</th>
          <td class="size-guide-container-table--table-women--td" >106</td>
          <td class="size-guide-container-table--table-women--td" >106</td>
          <td class="size-guide-container-table--table-women--td" >88</td>
        </tr>
        <tr>
          <th class="size-guide-container-table--table-women--th" scope="row">XL</th>
          <td class="size-guide-container-table--table-women--td" >114</td>
          <td class="size-guide-container-table--table-women--td" >114</td>
          <td class="size-guide-container-table--table-women--td" >96</td>
        </tr>
      </tbody>
    </table>
  </div>

<div class="size-guide-container-table-icon-woman">
  <img class="size-guide-container-table-icon-woman-img" src="../../../assets/size-guide/women-img.png">
</div>
</div>
