<div class="container size-guide-container-table-woman px-3">
  <div class="size-guide-container-table-woman">
    <table class="size-guide-container-table--table-woman table  table-bordered bg-white">
      <thead>
        <tr>
          <th class="size-guide-container-table--table-women--th" scope="col">Talle</th>
          <th class="size-guide-container-table--table-women--th" scope="col">Pecho</th>
          <th class="size-guide-container-table--table-women--th" scope="col">Cadera</th>
          <th class="size-guide-container-table--table-women--th" scope="col">Cintura</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="size-guide-container-table--table-women--th" scope="row">{{data[0].talle}}</th>
          <td class="size-guide-container-table--table-women--td" >{{data[0].pecho}}</td>
          <td class="size-guide-container-table--table-women--td" >{{data[0].cadera}}</td>
          <td class="size-guide-container-table--table-women--td" >{{data[0].cintura}}</td>
        </tr>
        <tr>
          <th class="size-guide-container-table--table-women--th" scope="row">{{data[1].talle}}</th>
          <td class="size-guide-container-table--table-women--td" >{{data[1].pecho}}</td>
          <td class="size-guide-container-table--table-women--td" >{{data[1].cadera}}</td>
          <td class="size-guide-container-table--table-women--td" >{{data[1].cintura}}</td>
        </tr>
        <tr>
          <th class="size-guide-container-table--table-women--th" scope="row">{{data[2].talle}}</th>
          <td class="size-guide-container-table--table-women--td" >{{data[2].pecho}}</td>
          <td class="size-guide-container-table--table-women--td" >{{data[2].cadera}}</td>
          <td class="size-guide-container-table--table-women--td" >{{data[2].cintura}}</td>
        </tr>
        <tr>
          <th class="size-guide-container-table--table-women--th" scope="row">{{data[3].talle}}</th>
          <td class="size-guide-container-table--table-women--td" >{{data[3].pecho}}</td>
          <td class="size-guide-container-table--table-women--td" >{{data[3].cadera}}</td>
          <td class="size-guide-container-table--table-women--td" >{{data[3].cintura}}</td>
        </tr>
      </tbody>
    </table>
  </div>

<div class="size-guide-container-table-icon-woman">
  <img class="size-guide-container-table-icon-woman-img" src="../../../assets/size-guide/women-img.png">
</div>
</div>
