.size-guide-container-table-woman{
 position: relative;
}

.size-guide-container-table-woman{
  width: 100%;
  margin-bottom: 5em;
}

table{
  table-layout: fixed;
}


.size-guide-container-table--table-woman{
  position: absolute;
  z-index: 1;
  right: 8.5%;
  width: 100px !important;
}


.size-guide-container-table-icon-woman-img {
  box-sizing: border-box;
  position: absolute;
  width: 96px;
  right: 67%;
  height: 176px;
  z-index: 0;
}



.size-guide-container-table--table-women--th{
  width: 50px;
height: 18px;
font-family:  var(--tipografiaGeneral);
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
}

.size-guide-container-table--table-women--td{
  width: 17px;
height: 18px;
font-family: var(--tipografiaGeneral);
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
}

@media only screen and (min-width: 375px) {
  .size-guide-container-table--table-woman{
    right: 16.5%;
  }


  .size-guide-container-table-icon-woman-img {
    width: 96px;
    right: 71%;
    height: 176px;
  }



  .size-guide-container-table--table-women--th{
    width: 55px;
  height: 18px;
  font-size: 13px;
  }
  }


  @media only screen and (min-width: 425px) {
    .size-guide-container-table--table-woman{
      right: 20.5%;
    }


    .size-guide-container-table-icon-woman-img {
      right: 73%;
    }



    .size-guide-container-table--table-women--th{
      width: 60px;
    font-size: 14px;
    }
    }

    @media only screen and (min-width: 768px) {
      .size-guide-container-table--table-woman{
        right: 27.5%;
      }


      .size-guide-container-table-icon-woman-img {
        right: 64%;
    width: 120px;
    height: 252px;
      }



      .size-guide-container-table--table-women--th{
        width: 75px;
    height: 50px;
    font-size: 15px;
      }

      .size-guide-container-table--table-women--td{
         font-size: 15px;
      }
      }

      @media only screen and (min-width: 1024px) {
        .size-guide-container-table--table-woman{
          right: 26%;
        }


        .size-guide-container-table-icon-woman-img {
          right: 65%;
          width: 173px;
          height: 303px;
        }



        .size-guide-container-table--table-women--th{
          width: 110px;
          height: 60px;
          font-size: 17px;
          padding: 1em 2em;
        }


        .size-guide-container-table--table-women--td{
           font-size: 18px;
        }
      }

      @media only screen and (min-width: 1335px) {
       .size-guide-container-table-woman{
        margin-bottom: 0em;
       }
       .size-guide-container-table--table-woman{
        left: 605px;
      }


      .size-guide-container-table-icon-woman-img {
        left: 445px;
    width: 145px;
    height: 246px;
      }



      .size-guide-container-table--table-women--th{
        width: 75px;
    height: 35px;
    font-size: 15px;
    padding: 1em 1em;
      }


      .size-guide-container-table--table-women--td{
         font-size: 18px;
      }
      }


      @media only screen and (min-width: 1440px) {
        .size-guide-container-table-woman{
          margin-bottom: 0em;
         }
         .size-guide-container-table--table-woman{
          left: 676px;
        }


        .size-guide-container-table-icon-woman-img {
          left: 515px;
      width: 145px;
      height: 246px;
        }



        .size-guide-container-table--table-women--th{
          width: 75px;
      height: 35px;
      font-size: 15px;
      padding: 1em 1em;
        }


        .size-guide-container-table--table-women--td{
           font-size: 18px;
        }
      }


