.forms{
  background-image: url("../../../assets/forms/background-forms.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 336px;
width: 100%;
border-radius: 0px !important;
margin-top: 13em;
}

.forms-container{
  height: 250px;
  Width: 85%;
border-radius: 0px !important;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    position: relative;
    top: 12%;
}

.forms-container-title{
  font-family: var(--tipografiaGeneral);
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}

.forms-container-div-name{
display: none;
border-radius: 0px !important;
}

.forms-container-div-telephone{
  display: none;
  border-radius: 0px !important;
  }

  .forms-container-div-input{
    width: 100%;
    margin-bottom: 1em;
    border-color: #000000;
    border-radius: 0px !important;
  }

.forms-container-div-textarea{
  width: 100%;
}


  .forms-container-div-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px;
    gap: 10px;
    width: 30%;
background: var(--colorOrangeDark);
border-radius: 5px;
  }

  .forms-container-div-button--button{
    color: #e9e7e7;
    font-family: var(--tipografiaGeneral);
  }

.forms-container-div-input::placeholder{
  font-family: var(--tipografiaGeneral);
  font-size: 13px;
}

  .forms-container-div-button--button:hover{
    color: #FFFFFF;
  }

  @media only screen and (min-width: 375px) {
    .forms-container{
      height: 240px;

    top: 16%;
    }

  }

  @media only screen and (min-width: 425px) {
    .forms-container{
      height: 250px;
      top: 11%;
      width: 80%;
    }

  }


  @media only screen and (min-width: 768px) {
    .forms{
      height: 436px;
    margin-top: 17em;
    }


.forms-container{
  height: 360px;
  top: 11%;
  width: 345px;
}

.forms-container-title{
font-size: 21px;
}

  .forms-container-div-button--button{
    font-size: 15px;
  }
  .forms-container-div-button{
    width: 20%;
  }

  .forms-container-div-input{
    width: 293px;
  }

#forms-container-id-textarea{
  width: 293px;
  min-height: 185px !important;
}
  }

  @media only screen and (min-width: 1024px) {
    .forms{
    height: 627px;
    margin-top: 23em;
    }

    .forms-container-div-input{
      width: 489px;
    }

  #forms-container-id-textarea{
    width: 489px;
    height: 150px !important;
  }


  .forms-container{
    height: 500px;
    top: 11%;
    width: 605px;
  }

.forms-container-title{
font-size: 23px;
}

  .forms-container-div-button--button{
    font-size: 16px;
  }

  .forms-container-div-name{
    display: flex;
    }

    .forms-container-div-telephone{
      display: flex;
      }


  }

  @media only screen and (min-width: 1336px) {
    .forms{
    margin-top: 12em;
    }

.forms-container-title{
font-size: 24px;
}
.forms-container-div-input{
  width: 489px;
}

#forms-container-id-textarea{
width: 489px;
height: 150px !important;
}


.forms-container{
height: 500px;
top: 11%;
width: 605px;
}


  .forms-container-div-button--button{
    font-size: 17px;
  }

  }

  @media only screen and (min-width: 1440px) {
    .forms{
      height: 627px;
      margin-top: 15em;
      }


.forms-container{
    margin-top: 3em;
}

.forms-container-title{
font-size: 25px;
}

  .forms-container-div-button--button{
    font-size: 18px;
  }


  }
