<div class="forms">
<div class="forms-container bg-white mx-auto">
  <h2 class="forms-container-title">¡Solicita tu cotización aquí!</h2>
  <form>
    <div class="form-group forms-container-div-name my-2">
      <input type="text" class="form-control form-group forms-container-div-input" id="forms-container-id-name" placeholder="Name">
    </div>
    <div class="form-group forms-container-div-email my-2">
      <input type="email" class="form-control form-group forms-container-div-input" id="forms-container-id-email" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="form-group forms-container-div-telephone my-2">
      <input type="number" class="form-control form-group forms-container-div-input" id="forms-container-id-telephone" placeholder="Telefono">
    </div>
    <div class="form-group forms-container-div-textarea my-2">
      <textarea type="text" class="form-control form-group forms-container-div-input" id="forms-container-id-textarea" placeholder="Mensaje"></textarea>
    </div>
    <div class="forms-container-div-button mx-auto">
      <button class="btn forms-container-div-button--button" type="submit">Enviar</button>
    </div>
  </form>
</div>
</div>
