
.size-guide-container-table{
 position: relative;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 0px;
 width: 100%;
}

table{
  table-layout: fixed;
}

.size-guide-container-table--table{
  left: 19%;
  width:100px !important;
  position: absolute;
  z-index: 1;
}

.size-guide-container-table-icon-man-img {
    box-sizing: border-box;
    position: absolute;
    width: 96px;
    height: 150px;
    left: 209px;
    top: 24px;
    z-index: 0;
}

.size-guide-container-table--table--th{
  width: 50px;
height: 18px;
font-family:  var(--tipografiaGeneral);
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
}

.size-guide-container-table--table--td{
  width: 17px;
height: 18px;
font-family:  var(--tipografiaGeneral);
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
}



@media only screen and (min-width: 375px) {
  .size-guide-container-table--table{
    left: 17%;
  }

  .size-guide-container-table-icon-man-img {
    left: 236px;
  }

  .size-guide-container-table--table--th{
    width: 55px;
  font-size: 13px;
  }

}

@media only screen and (min-width: 425px) {
  .size-guide-container-table--table{
    left: 17%;
  }

  .size-guide-container-table-icon-man-img {
    left: 263px;
  }

  .size-guide-container-table--table--th{
    width: 60px;
  font-size: 14px;
  }
}


@media only screen and (min-width: 768px) {
  .size-guide-container-table--table{
    left: 28%;
  }

  .size-guide-container-table-icon-man-img {
    width: 110px;
    height: 210px;
    left: 444px;
    top: 39px;
  }

  .size-guide-container-table--table--th{
    width: 75px;
    height: 50px;
    font-size: 15px;
  }

  .size-guide-container-table--table--td{
  font-size: 16px;
  }

}


 @media only screen and (min-width: 1024px) {
  .size-guide-container-table--table{
    left: 26%;
  }

  .size-guide-container-table-icon-man-img {
    width: 140px;
    height: 258px;
    left: 619px;
    top: 39px;
  }

  .size-guide-container-table--table--th{
    width: 110px;
    height: 60px;
    font-size: 17px;
    padding: 1em 2em;
  }

  .size-guide-container-table--table--td{
  font-size: 16px;
  }


  .size-guide-container-table--table--td{
  font-size: 18px;
  }
      }



      @media only screen and (min-width: 1200px) {
        .size-guide-container-table--table{
          left: 29%;
        }

        .size-guide-container-table-icon-man-img {
          left: 698px;
        }
      }


      @media only screen and (min-width: 1336px) {
        .size-guide-container-table--table{
          left: 190px;
        }

        .size-guide-container-table-icon-man-img {
          left: 43px;
    width: 144px;
    height: 217px;
    top: 28px;
        }

        .size-guide-container-table--table--th{
          width: 75px;
    height: 35px;
    font-size: 15px;
    padding: 1em 1em;
        }

        .size-guide-container-table--table--td{
        font-size: 16px;
        }


        .size-guide-container-table--table--td{
        font-size: 18px;
        }
            }


      @media only screen and (min-width: 1440px) {
        .size-guide-container-table--table{
          left: 222px;
        }

        .size-guide-container-table-icon-man-img {
          left: 73px;
        }

        .size-guide-container-table--table--th{
          width: 75px;
    height: 35px;
    font-size: 15px;
    padding: 1em 1em;
        }

        .size-guide-container-table--table--td{
        font-size: 17px;
        }


        .size-guide-container-table--table--td{
        font-size: 20px;
        }
            }




