<div class="container size-guide-container-table px-3">
  <div class="size-guide-container-table-subContainer">
    <table class="size-guide-container-table--table table table-bordered bg-white">
      <thead>
        <tr>
          <th class="size-guide-container-table--table--th" scope="col">Talle</th>
          <th class="size-guide-container-table--table--th" scope="col">Pecho</th>
          <th class="size-guide-container-table--table--th" scope="col">Cadera</th>
          <th class="size-guide-container-table--table--th" scope="col">Cintura</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="size-guide-container-table--table--th" scope="row">{{data[0].talle}}</th>
          <td class="size-guide-container-table--table--td">{{data[0].pecho}}</td>
          <td class="size-guide-container-table--table--td">{{data[0].cadera}}</td>
          <td class="size-guide-container-table--table--td">{{data[0].cintura}}</td>
        </tr>
        <tr>
          <th class="size-guide-container-table--table--th" scope="row">{{data[1].talle}}</th>
          <td class="size-guide-container-table--table--td">{{data[1].pecho}}</td>
          <td class="size-guide-container-table--table--td">{{data[1].cadera}}</td>
          <td class="size-guide-container-table--table--td">{{data[1].cintura}}</td>
        </tr>
        <tr>
          <th class="size-guide-container-table--table--th" scope="row">{{data[2].talle}}</th>
          <td class="size-guide-container-table--table--td">{{data[2].pecho}}</td>
          <td class="size-guide-container-table--table--td">{{data[2].cadera}}</td>
          <td class="size-guide-container-table--table--td">{{data[2].cintura}}</td>
        </tr>
        <tr>
          <th class="size-guide-container-table--table--th" scope="row">{{data[3].talle}}</th>
          <td class="size-guide-container-table--table--td">{{data[3].pecho}}</td>
          <td class="size-guide-container-table--table--td">{{data[3].cadera}}</td>
          <td class="size-guide-container-table--table--td">{{data[3].cintura}}</td>
        </tr>
      </tbody>
    </table>
    <div class="size-guide-container-table-icon-man">
      <img class="size-guide-container-table-icon-man-img" src="../../../assets/size-guide/man-img.png">
    </div>
  </div>
</div>

