/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'swiper/css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --colorOrangeDark: #DB6B0E;
  --colorOrangeTransparent: rgba(219, 107, 14, 0.8);
  --colorOrangeLigth: #D49627;
  --colorBlack: #3D1B00;
  --tipografiaGeneral: 'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}


textarea{
  resize: none;
}

